#Requirements for running app.py

altgraph==0.17
boto==2.49.0
boto3==1.9.66
botocore==1.12.67
cachetools @ file:///tmp/build/80754af9/cachetools_1607706694405/work
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255207413/work
chardet @ file:///C:/ci/chardet_1607706910910/work
click==7.1.2
cryptography @ file:///C:/ci/cryptography_1607639129468/work
docutils==0.16
Flask==1.1.2
Flask-Cors==3.0.10
freeze==3.0
future==0.18.2
gensim==3.8.0
google-api-core @ file:///C:/ci/google-api-core-split_1601307128777/work
google-auth @ file:///tmp/build/80754af9/google-auth_1600960338579/work
google-cloud-core @ file:///tmp/build/80754af9/google-cloud-core_1608056104900/work
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1608139055921/work
google-crc32c @ file:///C:/ci/google-crc32c_1608056321467/work
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1608056254223/work
googleapis-common-protos @ file:///C:/ci/googleapis-common-protos-feedstock_1600455733359/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib==1.0.0
macholib @ file:///tmp/build/80754af9/macholib_1597435072973/work
MarkupSafe==1.1.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict @ file:///C:/ci/multidict_1607367865052/work
nltk==3.5
numpy @ file:///C:/ci/numpy_and_numpy_base_1603468620949/work
pefile==2019.4.18
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome @ file:///C:/ci/pycryptodome_1606344779602/work
PyInstaller==3.6
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
PyPDF2==1.26.0
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
pywin32==227
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
regex==2020.11.13
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
s3transfer==0.1.13
scipy @ file:///C:/ci/scipy_1597686737426/work
six @ file:///C:/ci/six_1605205426665/work
smart-open==2.0.0
tika==1.24
tqdm==4.56.0
urllib3==1.24.3
Werkzeug==1.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
yarl @ file:///C:/ci/yarl_1598045271760/work